body {
    margin: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

.buttons {
    margin: 10px;
    border-radius: 25%;
}


.board td {
    width: 35px;
    height: 35px;
    text-align: center;
    transition: 0.5s;
    background-color: rgb(143, 143, 142);
    padding: 15px;
}
.board tr td{
    display: center;
}
.board td:hover {
    background-color:rgb(98, 97, 97);
}

.container{
    display: inline-flex; 
    padding: 10px;
    margin: 10px;
}
.time{
    padding: 10px;
}

.nextNum{
    padding: 10px;
}